In [ ]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier

In [ ]:
col_names = ['sepal length', 'sepal width', 'petal length', 'petal width', 'species']

data = pd.read_csv("iris.csv", header=None, names=col_names)

In [ ]:
data = data.iloc[1:]

In [ ]:
data.head()

  sepal length sepal width petal length petal width      species
1          5.1         3.5          1.4         0.2  Iris-setosa
2          4.9         3.0          1.4         0.2  Iris-setosa
3          4.7         3.2          1.3         0.2  Iris-setosa
4          4.6         3.1          1.5         0.2  Iris-setosa
5          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
#split dataset in features and target variable
feature_cols = ['sepal length', 'sepal width', 'petal length', 'petal width']

In [ ]:
X = data[feature_cols]

In [ ]:
y = data['species'] # Target variable

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [ ]:
clf=RandomForestClassifier(n_estimators=100)

In [ ]:
clf = clf.fit(X_train,y_train)

In [ ]:
clf.predict(X_test)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor'], dtype=object)

In [ ]:
clf.score(X_test, y_test)

0.9555555555555556